@import "./variaveis.css";

/* --------------------> ESTILOS REUSADO <---------------- */

@import "./style-reuso.css";

/*----------------- MEDIA QUERIES -----------------------*/

/*
* responsivo para largura da tela maior que 400px;
*/

@media (min-width: 400px) {
  /* HOME */

  .revenue-item:first-child {
    margin-bottom: 0;
  }

  .revenue-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

/*
* responsivo para largura da tela maior que 570px;
*/

@media (min-width: 570px) {
  /* ESTILO REUSADO */

  .container {
    max-width: 550px;
    margin-inline: auto;
  }

  /* HEADER */

  .navbar-list,
  .user-action-lis {
    padding-inline: 0;
  }

  /* HOME */

  .card-price {
    --fs-2: 1.625rem;
  }

  /* TASKS */

  .tasks .card-meta-list {
    justify-content: flex-end;
  }
}

/*
* responsivo para largura da tela maior que 768px;
*/

@media (min-width: 768px) {
  /* ESTILOS REUSO */

  .container {
    max-width: 700px;
  }

  /* HOME */

  .progress-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }

  .progress-item:not(:last-child) {
    margin-bottom: 0;
  }

  .home .card-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

/*
* responsivo para largura da tela maior que 992px;
*/

@media (min-width: 992px) {
  /* ESTILOS REUSO */

  .container {
    max-width: 950px;
  }

  /* HEADER */

  .menu-toggle-btn {
    display: none;
  }

  .header {
    height: unset;
    padding-block: 10px;
  }

  .header.active {
    height: unset;
  }

  .navbar {
    all: unset;
    flex-grow: 1;
  }

  .navbar .container {
    display: flex;
  }

  .navbar-list {
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-inline: auto;
  }

  .user-action-list {
    flex-direction: row;
    gap: 20px;
  }

  /* HOME */

  .article.container {
    padding-block: 35px;
  }

  .home {
    grid-template-columns: 1.25fr 0.75fr 1fr;
  }

  .home .card-wrapper {
    grid-template-columns: 1fr;
  }

  .progress-list {
    align-items: flex-end;
  }

  /* PROJETOS */

  .project-list {
    grid-template-columns: repeat(3, 1fr);
  }

  /* TASKS - TAREFAS */

  .tasks .tasks-card {
    grid-template-columns: 1fr 0.5fr 0.5fr;
    align-items: center;
  }

  /* FOOTER */

  .footer-list {
    margin-bottom: 0;
  }

  .footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
