@import "./variaveis.css";

/* --------------------> ESTILOS REUSADO <---------------- */

@import "./style-reuso.css";

/* --------------------> ESTILOS PROJETOS <---------------- */

.project-list {
  display: grid;
  gap: 25px;
}

.project-card .card-date {
  color: var(--cool-gray);
  font-size: var(--fs-9);
  font-weight: var(--fw-500);
  margin-bottom: 20px;
}

.project-card .card-title {
  color: var(--onyx);
  font-size: var(--fs-4);
  margin-bottom: 8px;
}

.project-card .card-title > a {
  color: inherit;
  transition: var(--transition);
}

.project-card .card-title > a:is(:hover, :focus) {
  color: var(--blue-ryb);
}

.project-card .card-badge {
  margin-bottom: 20px;
}

.project-card .card-text {
  color: var(--cool-gray);
  font-size: var(--fs-7);
  line-height: 1.7;
  margin-bottom: 15px;
}

.project-card .card-progress-box {
  margin-bottom: 15px;
}

.project-card .progress-title {
  font-weight: var(--fw-600);
}

.project-card .progress-data {
  color: var(--onyx);
  font-size: var(--fs-9);
  font-weight: var(--fw-600);
}
