@import "./variaveis.css";

/* --------------------> ESTILOS REUSADO <---------------- */

@import "./style-reuso.css";

/*----------------- ESTILOS DAS TAREFAS -----------------------*/

.tasks-item:not(:last-child) {
  margin-bottom: 10px;
}

.tasks .task-card {
  display: grid;
  gap: 15px;
}

.tasks .card-input {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

.tasks .card-input > input {
  margin-top: 2px;
  accent-color: var(--blue-ryb);
}

.tasks .card-input > input:checked {
  filter: dropdown(0 0 2px var(--blue-ryb));
}

.tasks .task-label {
  color: var(--davys-gray);
  font-size: var(--fs-9);
  font-weight: var(--fw-600);
  line-height: 1.5;
}

.tasks .card-meta-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}

.tasks .meta-box {
  color: var(--davys-gray);
  font-size: var(--fs-9);
  font-weight: var(--fw-600);

  display: flex;
  align-items: center;
  gap: 5px;
}
