/*-----------------------------------*\
  #style.css
\*-----------------------------------*/

/*
  Padrão de cores root
*/

:root {
  --imperial-red_12: hsla(357, 86%, 57%, 0.12);
  --pacific-blue_12: hsla(188, 78%, 41%, 0.12);
  --davys-gray_12: hsla(210, 9%, 31%, 0.12);
  --imperial-red: hsl(357, 86%, 57%);
  --sonic-sliver: hsl(0, 0%, 47%);
  --pacific-blue: hsl(188, 78%, 41%);
  --blue-ryb_12: hsla(220, 100%, 50%, 0.12);
  --space-cadet: hsl(220, 41%, 20%);
  --eerie-black: hsl(214, 10%, 13%);
  --davys-gray: hsl(210, 9%, 31%);
  --emerald_12: hsla(144, 62%, 53%, 0.12);
  --cool-gray: hsl(225, 11%, 59%);
  --cultured: hsl(225, 20%, 96%);
  --blue-ryb: hsl(220, 100%, 50%);
  --black_08: hsla(0, 0%, 0%, 0.06);
  --black_12: hsla(0, 0%, 0%, 0.12);
  --coral_12: hsla(15, 100%, 65%, 0.12);
  --sunglow: hsl(44, 100%, 61%);
  --emerald: hsl(144, 62%, 53%);
  --onyx-2: hsl(210, 10%, 23%);
  --coral: hsl(15, 100%, 65%);
  --white: hsl(0, 0%, 100%);
  --onyx: hsl(207, 8%, 21%);

  
  /*
    typografia - Padrões de tamanho
  */
  --ff-vietnam: "Be Vietnam Pro", sans-serif;

  --fs-1: 1.563rem;
  --fs-2: 1.5rem;
  --fs-3: 1.25rem;
  --fs-4: 1.078rem;
  --fs-5: 1rem;
  --fs-6: 0.938rem;
  --fs-7: 0.875rem;
  --fs-8: 0.844rem;
  --fs-9: 0.813rem;
  --fs-10: 0.769rem;

  --fw-500: 500;
  --fw-600: 600;

  /*
    transitions - transições utilizadas
  */
  --transition: 0.25s ease;
  --cubic-out: cubic-bezier(0.45, 0.85, 0.5, 1);
  --cubic-in: cubic-bezier(0.5, 0, 0.50, 0.95);

  /*
    Radius - Propriedade de arredondamento das bordas 
  */
  --radius-6: 6px;

  /*
    shadow - propriedade de sombreamento
  */
  --shadow-1: 0 12px 20px hsla(210, 10%, 23%, 0.07);
  --shadow-2: 0 2px 10px hsla(0, 0%, 0%, 0.04);
  --shadow-3: 0 2px 20px var(--black_08);
}

/*
  Default - configuração padrão da page
*/
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Elementos HTML da Page */
li { list-style: none; }

a { text-decoration: none; }

a, img, span, data, time, input, button, span.icon { display: block; }

button {
  font: inherit;
  background: none;
  border: none;
  cursor: pointer;
  text-align: left;
}

html { 
  font-family: var(--ff-vietnam);
  scroll-behavior: smooth;
}

body { 
  padding-block-start: 72px;
  background: var(--cultured);
}

:focus-visible {
  outline: 2px solid var(--onyx);
  outline-offset: 1px;
}

::-webkit-scrollbar { width: 10px; }

::-webkit-scrollbar-track { background: hsl(0, 0%, 95%); }

::-webkit-scrollbar-thumb { background: hsl(0, 0%, 80%); }

::-webkit-scrollbar-thumb:hover { background: hsl(0, 0%, 70%); }


/*--------------------> ESTILOS REUSADO <----------------*/

.container { padding-inline: 15px; }

.icon-box { font-variation-settings: 'wght' 300; }

.icon-box .icon { font-size: 22px; }



/*--------------------> HEADER <----------------*/

.header { 
  background: var(--white);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 72px;
  padding-block: 20px;
  overflow: hidden;
  transition: 0.3s var(--cubic-in);
  box-shadow: var(--shadow-3);
  z-index: 1;
 }

 .header.active {
  height: 370px;
  transition: 0.5s var(--cubic-out);
 }

 .header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
 }

 .logo { 
  font-size: var(--fs-1);
  font-weight: var(--fw-600);
  color: var(--space-cadet);
 }

 .menu-toggle-btn .icon { font-size: 28px; }

 .navbar { 
  position: absolute;
  top: 72px;
  left: 0;
  width: 100%;
  background: var(--white);
  opacity: 0;
  visibility: hidden;
  transition: 0.5s var(--cubic-out);
 }

 .header.active .navbar { 
  opacity: 1;
  visibility: visible;
 }

 .navbar-list {
  padding-inline: 15px;
  margin-bottom: 15px;
 }

 .navbar-link {
  color: var(--onyx);
  font-size: var(--fs-6);
  font-weight: var(--fw-500);
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px;
  border-radius: var(--radius-6);
 }

 .navbar-link:is(:hover, :focus) { background: var(--black_08); }