@import "./variaveis.css";

/* --------------------> ESTILOS REUSADO <---------------- */

@import "./style-reuso.css";

/* --------------------> ESTILOS CARD <---------------- */

.home .card-wrapper {
  display: grid;
  gap: 25px;
}

.home .task-card {
  display: flex;
  align-items: center;
  gap: 15px;
}

.home .task-card .card-icon.green {
  --background: var(--emerald_12);
  --color: var(--emerald);
}

.home .task-card .card-icon.blue {
  --background: var(--pacific-blue_12);
  --color: var(--pacific-blue);
}

.home .task-card .icon {
  font-size: 28px;
  color: var(--color);
}

.home .task-card .card-icon {
  background: var(--background);
  padding: 10px;
  border-radius: var(--radius-6);
}

.home .task-card .card-data {
  color: var(--onyx);
  font-size: var(--fs-3);
  font-weight: var(--fw-600);
  margin-bottom: 5px;
}

.home .task-card .card-text {
  color: var(--cool-gray);
  font-size: var(--fs-6);
}

/* --------------------> ESTILOS CARD RECEITAS<---------------- */

.revenue-card .card-title {
  margin-bottom: 15px;
}

.card-price {
  color: var(--onyx);
  font-size: var(--fs-2);
  font-weight: var(--fw-600);
  margin-bottom: 12px;
}

.revenue-card .card-text {
  color: var(--cool-gray);
  font-size: var(--fs-6);
}

.revenue-item {
  display: flex;
  align-items: center;
  gap: 15px;
}

.revenue-item:first-child {
  margin-botton: 10px;
}

.revenue-item .icon {
  font-size: 30px;
}

.revenue-item .icon.green {
  color: var(--emerald);
}

.revenue-item .icon.red {
  color: var(--imperial-red);
}

.revenue-item-data {
  color: var(--onyx);
  font-size: var(--fs-6);
  font-weight: var(--fw-600);
  margin-bottom: 5px;
}

.revenue-item-text {
  color: var(--cool-gray);
  font-size: var(--fs-9);
}
