@import "./variaveis.css";

.container {
  padding-inline: 15px;
}

.icon-box {
  font-variation-settings: "wght" 300;
}

.icon-box .icon {
  font-size: 22px;
}

.h2,
.h3 {
  color: var(--onyx-2);
  font-weight: var(--fw-600);
}

.h2 {
  font-size: var(--fs-3);
}

.card {
  background: var(--white);
  position: relative;
  padding: 24px;
  border-radius: var(--radius-6);
  box-shadow: var(--shadow-2);
}

.card-menu-btn {
  position: absolute;
  top: 16px;
  right: 16px;
  color: var(--cool-gray);
  padding: 6px;
  border-radius: var(--radius-6);
}

.card-menu-btn:is(:hover, :focus) {
  background: var(--black_08);
}

.ctx-menu {
  background: var(--white);
  position: absolute;
  top: 55px;
  right: 16px;
  width: 180px;
  padding: 10px 5px;
  box-shadow: var(--shadow-1);
  border-radius: var(--radius-6);
  display: none;
}

.ctx-menu.active {
  display: block;
}

.ctx-menu-btn {
  color: var(--color, var(--sonic-sliver));
  font-size: --fs-6;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 8px;
  padding: 5px 25px;
  border-radius: --radius-6;
}

.ctx-menu-btn:is(:hover, :focus) {
  color: var(--hover-color, var(--eerie-black));
  background: var(--black_08);
}

.ctx-menu-btn.red {
  --hover-color: var(--imperial-red);
  --color: var(--imperial-red);
}

.divider {
  height: 1px;
  background: var(--bg, var(--black_08));
  margin-block: var(--mb, 8px);
}

.card-divider {
  --bg: var(--black_12);
  --mb: 25px;
}

.section-title-wrapper {
  padding-block: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

.section-title {
  color: var(--onyx);
  font-size: var(--fs-5);
  font-weight: var(--fw-600);
}

.btn {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: var(--fs-9);
  font-weight: var(--fw-600);
  padding: 8px 16px;
  border-radius: var(--radius-6);
}

.btn .icon {
  font-size: 16px;
  font-variation-settings: "wght" 400;
}

.btn-link {
  color: var(--blue-ryb);
}

.btn-link:is(:hover, :focus) {
  background: var(--blue-ryb_12);
}

.btn-primary {
  color: var(--blue-ryb);
  border: 1px solid var(--blue-ryb);
  transition: var(--transition);
}
